.btn {
  display: inline-block;
  margin-right: 20px;
  padding: 1rem 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  transition: all ease-in 100ms;
  &:hover, &:focus {
    color: #fff;
    background: $blue;
    border-color: $blue;
    transition: all ease-out 100ms;
  }
}