.social-links {
  margin: 65px 0 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    &:first-of-type {
      margin-left: 0;
    }
    a {
      border-bottom: none;
      .logo-instagram g,
      .logo-behance g,
      .logo-linkedin path {
        fill: #fff;
        transition: fill ease-in 100ms;
      }
      &:hover, &:focus {
        .logo-instagram g,
        .logo-behance g,
        .logo-linkedin path {
          fill: $blue;
          transition: fill ease-out 100ms;
        }
      }
    }
  }
}